/*! HTML5 Boilerplate v4.3.0 | MIT License | http://h5bp.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #222;
}

html {
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between images, videos, audio and canvas and the bottom of
 * their containers: h5bp.com/i/440
 */

audio,
canvas,
img,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browse Happy prompt
   ========================================================================== */

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}


/***************************
Fuentes
***************************/
@font-face {
    font-family: 'futuralightregular';
    src: url('../fonts/futuralight-webfont.eot');
    src: url('../fonts/futuralight-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/futuralight-webfont.woff') format('woff'),
         url('../fonts/futuralight-webfont.ttf') format('truetype'),
         url('../fonts/futuralight-webfont.svg#futuralightregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'futura_md_btbold';
    src: url('../fonts/futura_bold_bt-webfont.eot');
    src: url('../fonts/futura_bold_bt-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/futura_bold_bt-webfont.woff') format('woff'),
         url('../fonts/futura_bold_bt-webfont.ttf') format('truetype'),
         url('../fonts/futura_bold_bt-webfont.svg#futura_md_btbold') format('svg');
    font-weight: normal;
    font-style: normal;

}



/* ==========================================================================
   Author's custom styles
   ========================================================================== */

html, body {
    height: 100%;
    margin: 0 auto;
    background:#d6d6d6;
    font-family: 'futuralightregular';
}
.wrapper{}
.container{
    margin: 0 auto;
    width: 960px;
}
#header{
    height: 150px;
    width: 100%;
    background: #2E3742;
}
#header img {
    float: right;
    margin-right: 10px;
}
.menu{
    list-style: none;
    float: left;
    width: 40%;
}
.menu a {
    color: #1c75b6;
    text-decoration: none;
    float: left;
    font-size: 26px;
    margin: 5px;
}
.menu a :hover{
    color: #00a8e9;
}
#principal{
    text-align: center;      
}
#contenido {
    background: #fff;
    min-height: 500px;
    font-size: 25px;
    color: #1c75b6;
}
#footer{
    height:100px;
    width: 100%;
    list-style: none;
    background: #2E3742;
}
#footer a{
    color: #1c75b6;
    text-decoration: none;
    float: left;
    margin: 5px;   
}
.clear {    height: 30px;;
}

input[type="submit"] {
    background: #1c75b6;
    border: none;
    color: #fff;
    width: 200px;
    height: 40px;
    margin-top: 15px;
}
.auxiliar{
    width: 90%;
    margin: 0 auto;
    overflow: scroll;
    height: 400px;
}
input[type="text"],input[type="password"], input[type="select"]{
    padding-left: 10px;
}

input[type="select"]{
    width: 10%;
}
input[type="time"]{
    width: 110%;
}
/*********************************************/  
.info {
    padding: 20px 0px 0px 0px;
}
.etiqueta{
    margin: 10px 0px 10px 0px;
    font-size: 30px;
}
/*login*/
.nombre, .contrasena{
    margin: 0px 0px 10px 0px;
    width: 30%;
}
.contrasena{}
.enviar{
    padding-bottom: 15px;
}
/*alta curso*/
#academia{
    width: 30%;
}

#horas{
    width: 5%;
    margin: 0 auto;
}
#horario{
    width: 10%;
    margin: 0 auto;
}

.semana {
    width: 50%;
    text-align: left;  
    margin: 0 auto;
}
.semana section {
    width: 30%;
    margin: 0 auto;
    margin-bottom: 10px;
    text-align: center;
}
.tablaCursos{
    margin: 0 auto;
    padding-top: 40px;
}
.zonaValidacion {
    width: 30%;
    margin: 0 auto;
    border: dashed 1px red;
    display: none;
}
.valiCiclo,.valiCurso,.valiSeccion,.valiNrc,.valiAcademia,.valiHoras,.valiHorario,
.valiNombre,.valiFeInicio,.valiFeFin,.valiDiaFestivo, .valiDiferenciaCiclo, .valiDiaFestivoRango,
.valiApellidop, .valiApellidom, .valiContrasena, .valiCarrera, .valiEmail, .valiGithub, .valiWeb, .valiCelular{
    color: red;
}
#agregaDia{
    font-size: 30px;
    border: solid 1px #000;
    width: 5%;
    margin: 0 auto;
    background: #fff;
    cursor: pointer;
}

#zonaDiasFestivos section{
    margin: 5px 0px;
}


/*tabla ciclos*/

.tablaCiclos {
    width: 90%;
    margin: 0 auto;
}
.tablaCiclos tbody tr th {
    background-color: #0099CC;
    color: #fff;
    border: none;
}
.tablaCiclos tbody tr td {
    background: #fff;
    border: none;
}

/*tabla cursos*/

.tablaCursos {
    width: 90%;
    margin: 0 auto;
}
.tablaCursos tbody tr th {
    background-color: #0099CC;
    color: #fff;
    border: none;
}
.tablaCursos tbody tr td {
    background: #fff;
    border: none;
}

/*tabla Calificacion*/

.tablaCalificacion {
    width: 90%;
    margin: 0 auto;
}
.tablaCalificacion tbody tr th {
    background-color: #0099CC;
    color: #fff;
    border: none;
}
.tablaCalificacion tbody tr td {
    background: #fff;
    border: none;
}

/*tabla Asistencia*/

.tablaAsistencia {
}
.tablaAsistencia tbody tr th {
    background-color: #0099CC;
    color: #fff;
    border: 1px solid;
}
.tablaAsistencia tbody tr td {
    background: #fff;
    border: 1px solid;
}
tr{
    border-bottom: 1px solid;
}


/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Image replacement
 */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    /* IE 6/7 fallback */
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.clearfix {
    *zoom: 1;
}

@media screen and (min-width: 768px) and (max-width: 1024px){
    .container{
        width: 800px;
    }
    #header img {
        height: 95%;
        width: 39%;
        float: right;
        margin-right: 10px;
    }
    #header{
        height: 80px;
    }
    .menu a{
        font-size: 22px;
    }


}

@media screen and (min-width: 480px) and (max-width: 765px) {
    .container{
        width: 500px;
    }    
    #header img {
         height: 95%;
        width: 39%;
        float: right;
    margin-right: 10px;
    }
    #header{
        height: 60px;
    }

    .menu{
        width: 50%;
    }

    .menu a{
        font-size: 16px;
    }
}

@media screen and (min-width: 320px) and (max-width: 480px) {
    .container{
        width: 430px;
    } 
    #header img {
        height: 95%;
        width: 39%;
        float: right;
        margin-right: 10px;display: none;
    }
    #header{
        height: 60px;
    }

        .menu {
        width: 44%;
        margin: 0 auto;
        }
    .menu a{
        font-size: 12px;
    }   
}

@media screen and (min-width: 100px) and (max-width: 320px) {
    .container{
        width: 430px;
    } 
    #header img {
        height: 95%;
        width: 39%;
        float: right;
        margin-right: 10px;
        display: none;
    }
    #header{
        height: 60px;
    }

    .menu{
        width: 45%;
    }

    .menu a{
        font-size: 12px;
    }   
}

